:root {
  /* colors */
  --color-header: rgb(126, 128, 72);
  --color-footer: rgb(126, 128, 72);
  --color-secondary-background: rgb(215, 205, 194);
  --color-cta-green: rgb(126, 128, 72);
  --color-cta-brown: rgb(159, 99, 70);
  --color-cta-white: rgb(255, 255, 255);
  --color-cta-green-hover: rgb(210, 216, 48);
  --color-cta-brown-hover: rgb(210, 163, 140);
  --color-cta-white-hover: rgb(215, 205, 194);
  --text-black: rgb(42, 42, 42);
  --text-white: rgb(255, 255, 255);
  --text-green: rgb(126, 128, 72);

  /* textsizes */
  --h1-size:;
  --h2-size:;
  --h3-size:;
  --p-size:;
  --p-small-size:;
  --link-size:;
  --cta-text-size:;

  /* textstyles */
  --font-family-hiragino:;
  --font-family-itim:;
  --font-family-encode:;
  --font-weight-light:;
  --font-weight-medium:;
  --font-weight-bold:;

  /* cta sizes */
  --padding-cta-small: 1rem 1.5rem;
  --padding-cta-large: 1rem 3.5rem;

  /* borderradius */
  --border-cta-green: 60px 80px 5px 150px;
  --border-cta-brown: 80px 80px 50px 50px;
  --border-cta-white: 40px;

  /* dropshadows */
  --shadow-cta-green: -4px 5px 10px 0 rgb(217, 223, 58, 0.68);
  --shadow-card: 0 0 7px 4px rgb(215, 205, 194, 0.59);
  --shadow-card-hover: 0 0 14px 10px rgb(215, 205, 194, 0.59);
}
