/* reset */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* cta'er */
.cta {
  font-family: var(--font-family-hiragino);
  font-weight: var(--font-weight-bold);
  font-size: var(--cta-text-size);
  justify-content: center;
  transition: 0.4s allow-discrete;
}

.cta-white {
  background-color: var(--color-cta-white);
  color: var(--text-green);
  border-radius: var(--border-cta-white);
  padding: var(--padding-cta-small);
}

.cta-white:hover {
  background-color: var(--color-cta-white-hover);
}

.cta-green {
  background-color: var(--color-cta-green);
  color: var(--text-white);
  border-radius: var(--border-cta-green);
  padding: var(--padding-cta-small);
  display: flex;
  max-width: 190px;
}

.cta-green:hover {
  background-color: var(--color-cta-green-hover);
}

.cta-brown {
  background-color: var(--color-cta-brown);
  color: var(--text-white);
  border-radius: var(--border-cta-brown);
  padding: var(--padding-cta-large);
  display: flex;
  max-width: 210px;
}

.cta-brown:hover {
  background-color: var(--color-cta-brown-hover);
}

/* index */
main {
  padding: 2rem;
  background-color: #f0f0f0;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}
/* Header */

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #7e8048;
}
.header-logo {
  width: 30%;
}

header .cta {
  align-self: center;
}

/* Footer */

footer {
  background-color: #7e8048;
  color: #fff;
  padding: 1rem;
}

footer section {
  padding: 1rem;
}

.footer-logo {
  width: 40%;
}

@media screen and (min-width: 800px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
  }
  .footer-logo {
    width: 70%;
  }
}
