/* reset */
* {
  margin: 0;
  padding: 0;
}

main {
  padding: 2rem 1rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* textstyles */
h1 {
  font-family: var(--font-family-hiragino);
  font-size: var(--h1-size);
  font-weight: var(--font-weight-thick);
  color: var(--text-green);
}

h2 {
  font-family: var(--font-family-itim);
  font-size: var(--h2-size);
  font-weight: var(--font-weight-light);
  color: var(--text-black);
}

h3 {
  font-family: var(--font-family-encode);
  font-size: var(--h3-size);
  font-weight: var(--font-weight-normal);
  color: var(--text-black);
}

p {
  font-family: var(--font-family-encode);
  font-size: var(--p-size);
  font-weight: var(--font-weight-light);
  color: var(--text-black);
  line-height: 150%;
}

.p-small {
  font-size: var(--p-small-size);
}

.p-bold {
  font-weight: var(--font-weight-medium);
}

/* cta'er */
.cta {
  font-family: var(--font-family-hiragino);
  font-weight: var(--font-weight-bold);
  font-size: var(--cta-text-size);
  justify-content: center;
  transition: 0.4s allow-discrete;
}

.cta-white {
  background-color: var(--color-cta-white);
  color: var(--text-green);
  border-radius: var(--border-cta-white);
  padding: var(--padding-cta-small);
}

.cta-white:hover {
  background-color: var(--color-cta-white-hover);
}

.cta-green {
  background-color: var(--color-cta-green);
  color: var(--text-white);
  border-radius: var(--border-cta-green);
  padding: var(--padding-cta-small);
  display: flex;
  max-width: 190px;
}

.cta-green:hover {
  background-color: var(--color-cta-green-hover);
}

.cta-brown {
  background-color: var(--color-cta-brown);
  color: var(--text-white);
  border-radius: var(--border-cta-brown);
  padding: var(--padding-cta-large);
  display: flex;
  max-width: 210px;
}

.cta-brown:hover {
  background-color: var(--color-cta-brown-hover);
}

.cta-go-back {
  color: var(--text-black);
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--color-header);
  max-height: 90px;
}

.header-logo svg {
  max-height: 90px;
  max-width: 90px;
}

.header-logo svg:hover path {
  fill: var(--color-cta-white-hover);
}

header .cta {
  align-self: center;
}

/* Footer */
footer {
  background-color: var(--color-footer);
  padding: 2rem 1rem;
}

footer p {
  color: var(--text-white);
}

footer section {
  margin-bottom: 4rem;
}

footer div {
  margin-top: 3rem;
}

@media screen and (min-width: 800px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem;
  }
  .footer-logo {
    max-width: 80%;
  }

  footer section {
    margin-bottom: 2rem;
  }

  footer div {
    display: flex;
    gap: 1rem;
  }
}
