main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  grid-template-rows: auto;
  align-items: start;
}

main > a {
  display: grid;
  grid-row: span 4;
  grid-template-rows: subgrid;
  gap: 1rem;
}

.title-tilbage-knap {
  grid-column: 1 / -1;
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
}

.opskrifter-card {
  display: grid;
  grid-row: span 4;
  grid-template-rows: subgrid;
  justify-items: center;
  text-align: center;
  padding: 1rem;
  margin: 2rem;
  box-shadow: var(--shadow-card);
  transition: box-shadow 0.3s ease;
}

.opskrifter-card-body {
  display: grid;
  grid-row: span 3;
  grid-template-rows: subgrid;
  width: 100%;
  justify-items: center;
  padding-top: 0.5rem;
}

.opskrifter-card p {
  display: block;
  color: var(--text-black);
  text-decoration: underline;
  font-size: var(--p-small-size);
}

span {
  padding: 10px;
  color: var(--text-black);
}
span img {
  width: 20px;
  height: auto;
}
.opskrifter-card:hover {
  box-shadow: var(--shadow-card-hover);
}
